<h2><center style="background-color:pink;">Categories</h2></center>

<% @ideas.each do |idea| %>
<div class="row"><center>
  <div class="span12"><center>
    <%= image_tag idea.picture_url, :length => '100%' if idea.picture.present?%>
    <h4><center><%= link_to idea.name, idea %></h4></center>
    <%= idea.ingredients %>
  </center></div>
<% end %>

<br />

